h2.display-4 {
    margin-bottom: 3rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.6;
}

.about-intro {
    margin-bottom: 3rem;
}

.about-ul {
    float: left;
    margin-right: 3rem;
}

.pics {
    width: 400px;
    height: 600px;
    border-radius: .5rem;
    margin-top: 3rem;
}

.me-pic {
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 2em;
    margin-top: 15px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.me2-pic {
    object-fit: cover;
    border-radius: 50%;
    /* float: right; */
    margin-left: 2em;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.mid-pic {
    margin-bottom: 3rem;
}

header {
    text-align: center;
    color: rgba(243, 243, 243, 0.952);
    background: rgb(34, 193, 195);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    /* background: linear-gradient(73deg, rgba(34, 193, 195, 1) 0%, rgba(252, 253, 45, 0.7063200280112045) 100%); */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 100px;
    height: 100px;
    background-color: red;
    ;
}

.div2 {
    border: .5px solid rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    max-width: 650px;
    margin: 80px auto;
    padding: 40px;
    transform: scale(.9);
    transition: transform 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Noto Serif KR', serif;
}

body.fixed-nav nav {
    position: fixed;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 1);
}

body.fixed-nav .div2 {
    transform: scale(1);
    /* transform: translateY(50px); */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
}

nav li:hover {
    background-color: rgba(163, 163, 163, 0.37);
    -webkit-transition-property: all;
    /* Safari */
    -webkit-transition-duration: 2s;
    /* Safari */
    transition-property: all;
    transition-duration: .3s;
    transform: scale(1.04);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.98);
}

li a#me:hover,
li.cohen:hover {
    text-shadow: initial;
}

nav li.cohen {
    background-color: rgba(255, 255, 255, 0.98);
    max-width: 0;
    overflow: hidden;
    transition: 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.fixed-nav li.cohen {
    max-width: 500px;
}

#port-list li a {
    color: black;
    margin-left: 5px;
}

#port-list {
    list-style: none;
}

#port-list li::before {
    content: "\27A4";
    color: rgb(34, 193, 195);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: white;
    font-size: 1.4em;
    padding: 9px 0;
}

a#me {
    font-weight: 800;
    font-family: initial;
    color: rgba(0, 0, 0, 0.98);
}

a:hover {
    text-decoration: none;
    color: white;
}

img {
    width: 150px;
    height: 150px;
}


/*  portfolio              
 +++++++++++++++++++++++++++++++++++++++++++++++ */

.port-box {
    width: 100%
}

.port-el {
    margin: .5rem;
    padding: 1rem;
    border: .5px solid rgba(0, 0, 0, 0.33);
    border-left: none;
    border-right: none;
    border-top: none;
}

.port-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.port-el img {
    width: 28vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 5px;
}

.card {
    border: none
}

.card-header {
    border-radius: 5px;
}


/* animation classes
++++++++++++++++++++++++++++++++++++++++++++++++++*/

.slide-in-top {
    -webkit-animation: slide-in-top 0.8s 0.5s both;
    animation: slide-in-top 0.8s 0.5s both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.puff-in-center {
    -webkit-animation: puff-in-center 0.7s ease-in both;
    animation: puff-in-center 0.7s ease-in both;
}

.active {
    display: inline-block;
}

.not-active {
    display: none;
}

.kenburns-top {
    -webkit-animation: kenburns-top 5s linear both;
    animation: kenburns-top 5s linear both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-5 16:39:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.05) translateY(-5px);
        transform: scale(1.05) translateY(-5px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.05) translateY(-5px);
        transform: scale(1.05) translateY(-5px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 640px) {
    .div2 {
        border: none;
        box-shadow: none;
    }
    .me2-pic {
        float: none;
        margin-left: 0;
    }
    .pics {
        width: 45vw;
        height: 33vh;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .port-el img {
        width: 60vw;
        height: auto;
    }
}